<head>
  <%= stylesheet_link_tag 'staff' %>
</head>

<div class="grandsons-logo"><%= image_tag "grandsons_logo_small.jpg" %></div>

<div class="staff-content">

  <%if params[:saved] %>
    <p class="success-message">Se ha registrado la información exitosamente.</p>
  <%elsif !params[:notice].nil? %>
    <p class="error-message">Por favor seleccione un registro para guardar.</p>
  <% end %>

  <h1 class ="title">
    Registro de asistencia para demostradores(as)
  </h1>

  <div id="logout_button">
    <%= button_to 'Salir', destroy_user_session_path, :method => :delete %>
  </div>

  <%= form_tag("/personal/registros", method: "get") do %>
    <div class="search">
      <%= text_field_tag :search_term, params[:search_term], :placeholder => "Búsqueda por nombre" %>
    </div>

    <div class="search-button-inline">
      <%= submit_tag("Buscar") %>
    </div>
  <% end %>

  <%= form_tag url_for(:controller => :staff, :action => :post_or_update_attendance_records, :search_term => params[:search_term]), :method => :put do %>
    <div class="content">    
      <table class="tables">
        <thead>
          <tr>
            <th width="380px">Info. del demostrador(a)</th>
            <th>Tienda del lunes</th>
            <th>Tienda del martes</th>
            <th>Tienda del miércoles</th>
            <th>Tienda del jueves</th>
            <th>Tienda del viernes</th>
            <th>Tienda del sábado</th>
            <th>Tienda del domingo</th>
            <th>Se guardará registro</th>
          </tr>
        </thead>
        <tbody>
            <% @staff_members.each do |current_staff_member| %>
              <tr>
                  <td>
                    <p><b>Nombre: </b><%= current_staff_member.name %></p>
                    <p><b>Tel.: </b><%= current_staff_member.phone %></p>
                    <p><b>CURP: </b><%= current_staff_member.CURP %></p>
                    <p><b>RFC: </b><%= current_staff_member.RFC %></p>
                    <b>No. IMSS: </b><%= current_staff_member.NSS %>
                  </td>
                  <td align="center"><%= select_tag("monday" + current_staff_member.id.to_s, options_for_select(@formatted_store_array, @all_attendance_values[current_staff_member.id][0]))%></td>
                  <td align="center"><%= select_tag("tuesday" + current_staff_member.id.to_s, options_for_select(@formatted_store_array, @all_attendance_values[current_staff_member.id][1]))%></td>
                  <td align="center"><%= select_tag("wednesday" + current_staff_member.id.to_s, options_for_select(@formatted_store_array, @all_attendance_values[current_staff_member.id][2]))%></td>
                  <td align="center"><%= select_tag("thursday" + current_staff_member.id.to_s, options_for_select(@formatted_store_array, @all_attendance_values[current_staff_member.id][3]))%></td>
                  <td align="center"><%= select_tag("friday" + current_staff_member.id.to_s, options_for_select(@formatted_store_array, @all_attendance_values[current_staff_member.id][4]))%></td>
                  <td align="center"><%= select_tag("saturday" + current_staff_member.id.to_s, options_for_select(@formatted_store_array, @all_attendance_values[current_staff_member.id][5]))%></td>
                  <td align="center"><%= select_tag("sunday" + current_staff_member.id.to_s, options_for_select(@formatted_store_array, @all_attendance_values[current_staff_member.id][6]))%></td>
                  <td align="center"><%= check_box_tag "current_staff_member_ids[]", current_staff_member.id %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="save-button">
      <%= submit_tag 'Guardar registros' %>
    </div>
  <% end %>
</div>
