
<head>
  <%= stylesheet_link_tag 'staff' %>
</head>

<div class="grandsons-logo"><%= image_tag "grandsons_logo_small.jpg" %></div>

<div class="staff-content">
  
  <div class="navigation_links"><span class="bold">Navegación:</span> <%= link_to 'Inicio', search_path %> / Resultados de búsqueda</div>
  <h1 class ="title">Resultados de la búsqueda</h1>
  <div id="logout_button"><%= button_to 'Salir', destroy_user_session_path, :method => :delete %></div>

  <div class="content">
    <table class="tables">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th width="250px">CURP</th>
          <th>RFC</th>
          <th>Número de seguro social</th>
          <th>Control de asistencia</th>
        </tr>
      </thead>
	
      <tbody>
	<% @results.each do |result| %>
          <tr>
            <td align="center"><%= result.name %></td>
            <td align="center"><%= result.phone %></td>
            <td align="center"><%= result.CURP %></td>
            <td align="center"><%= result.RFC %></td>
            <td align="center"><%= result.NSS %></td>
	    <td align="center"><%= link_to 'Ingresar datos', record_info_path(:staff_member_name => result.name) %></td>
	<% end %>
      </tbody>
    </table>
    <% if @results.empty? %>
    <h1></h1>
    <h2>No se encontraron resultados</h2>
    <% end %>
  </div>
</div>
