
<head>
  <%= stylesheet_link_tag 'staff' %>
</head>

<div class="grandsons-logo"><%= image_tag "grandsons_logo_small.jpg" %></div>

<div class="staff-content">

  <div class="navigation_links"><span class="bold">Navegación:</span> Inicio </div>
  <h1 class ="title">Búsqueda de demostradoras</h1>
  <div id="logout_button"><%= button_to 'Salir', destroy_user_session_path, :method => :delete %></div>

  <div class="content">
    <div class="search">
	<%= form_tag("/personal/resultados", method: "get") do %>
	  <%= text_field_tag(:search_term) %>
	  <div class="search-button"><%= submit_tag("Buscar") %></div>
	<% end %>
    </div>
    <table class="tables">
    </table>
  </div>
</div>
