<%= form_for(@demo_staff_member) do |f| %>
  <% if @demo_staff_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demo_staff_member.errors.count, "error") %> prohibited this demo_staff_member from being saved:</h2>

      <ul>
      <% @demo_staff_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :RFC %><br>
    <%= f.text_field :RFC %>
  </div>
  <div class="field">
    <%= f.label :CURP %><br>
    <%= f.text_field :CURP %>
  </div>
  <div class="field">
    <%= f.label :NSS %><br>
    <%= f.text_field :NSS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
